.trackList {
	border: solid 4px #212633;
  border-right-style: none;
  border-bottom-style: none;
	position: absolute;
	top: 25%;
	left: 50px;
	width: 25%;
	height: content-max;
	max-height: 500px;
	display: block;
}

.trackListScroll {
	top: -1px;
	position: relative;
	direction: rtl;
	overflow-y: auto;
	width: 200%;
  height: 100%;
}

.trackListContent {
  direction: ltr;
}

.shortened {
  color: #eeeeee;
  font-size: small;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 50%;
  border: "solid 1px #212633";
}

.expanded {
  color: #eeeeee;
  font-size: small;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  min-width: 50%;
  width: max-content;
  border: "solid 1px black";
}

.unplayed {
	background-color: #67779e;
}

.played {
	background-color: #46506b;
}

.overflow {
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}