body {
	background-color:#92a3d1;
}

.App {
	height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.player {
	position: absolute;
	top: 80%;
	left: 20%;
	width: 60%;
	border: solid 1px black;
	background-color: #67779e;
	padding-bottom: 20px;
}

.Upload {
  position: absolute;
  right: 30px;
  top: 30px;
}